@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,300;0,500;0,600;0,800;0,900;1,700&display=swap');



/*--Reset--*/
*,
*::before,
*::after{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  font-family: 'Kanit', sans-serif;
}

body{
  background-color: rgb(3, 4, 19);
  color: rgba(8, 4, 235, 0.954);
}

img{
  max-width: 100%;
  max-height: 100%;
  display: inline-block;
  object-fit: contain;
}

button{
  display: inline-block;
  border: none;
  font-family: inherit;
  cursor: pointer;
}

ul{
  list-style: none;
}

.app{
  background-image: url(https://i.gifer.com/hBt.gif);
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}